


.logo {

    width:  150px;
    height: 150px;


}

.header-content {
    
    margin-left: 30px;
    
}

header {
    padding: 0;
    margin: 0;
    margin-bottom: 0px;

    background-color: rgb(238, 238, 238);
    display: flex;


}

.content-section {
    
    padding: 0;
    margin-top: 0 auto; 
    
    background-color: rgb(225, 212, 187);
    display: flex;
    

}

.ads {

    padding: 0;
    margin-top: 0;
    background-color: rgb(238, 238, 238);
    width: 175px;
    height: 730px;

    margin-bottom: 10px;
    margin-right: 10px;


}

section {
    position: fixed;
    padding-top: 0 auto;
    margin-top: 0px;
   

}


footer {


    background-color:rgb(203, 178, 121);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0;
    height: 30px;
    margin-top: auto;
    display: flex;

}


body {

    margin: 0;

    background-color: rgb(83, 113, 136);


}