



.nav {

    width: 100%;
    float: left;



}


.sidebar {



    position:absolute;
    top: 150px;
    left: 10px;
    
    
    


}

.menubar {

    margin:     0;
    padding:    8px;
    height:     21px;
   



}

.menubar li {

    display: inline;


}

.button {



    text-decoration: none;

}