



.nav {

    width: 100%;
    float: left;



}

.menubar {

    margin:     0;
    padding:    8px;
    height:     21px;
   



}

.menubar li {

    display: inline;


}

.button {



    text-decoration: none;

}